services:
    postgres:
        image: postgres:17
        container_name: dev_postgres
        restart: unless-stopped
        ports:
            - '5432:5432'
        environment:
            POSTGRES_USER: devuser
            POSTGRES_PASSWORD: devpass
            POSTGRES_DB: travelpulse_db
        volumes:
            - pgdata:/var/lib/postgresql/data

    pgadmin:
        image: dpage/pgadmin4
        container_name: dev_pgadmin
        restart: unless-stopped
        ports:
            - '5050:80'
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@local.com
            PGADMIN_DEFAULT_PASSWORD: adminpass
        depends_on:
            - postgres

volumes:
    pgdata:
