.dashboardPage {
	max-width: 1330px;
	margin: 0 auto;
	width: 100%;

	.dashboardContainer {
		display: grid;
		grid-template-columns: 1fr 389px;
		grid-template-rows: auto auto;
		grid-auto-rows: min-content;
		column-gap: 50px;
		grid-template-areas:
			'box1 box2'
			'box3 box4';

		.myEsims {
			grid-area: box3;
		}

		.dataUsageChartContainer {
			grid-area: box1;

			> div {
				@apply bg-white rounded-lg shadow-sm filter drop-shadow;
			}
		}

		.dataUsageChartTitle {
			padding: 20px 24px 0;
			margin-bottom: 23px;
		}

		.dashboardRightContainer {
			max-width: 389px;
			grid-area: box2;

			> div {
				display: flex;
				gap: 1.5rem;
				flex-wrap: wrap;
				flex-direction: column;
			}
		}
	}
}
