.dashboardPage {
	max-width: 1330px;
	margin: 0 auto;
	width: 100%;

	.dashboardContainer {
		display: grid;
		grid-template-columns: 1fr 389px;
		column-gap: 50px;

		.dataUsageChartContainer {
			@apply bg-white rounded-lg shadow-sm filter drop-shadow;
		}

		.dataUsageChartTitle {
			padding: 20px 24px 0;
			margin-bottom: 23px;
		}

		.dashboardRightContainer {
			max-width: 389px;

			> div {
				display: flex;
				gap: 1.5rem;
				flex-wrap: wrap;
				flex-direction: column;
			}
		}
	}
}
