.countryContainer {
	margin-top: -47px;
	padding: 0 40px 40px;

	.heroSection {
		background: var(--purple-gradient);
		color: white;
		padding: 80px 40px 120px;
		border-bottom-left-radius: 50px;

		h1 {
			font-size: 40px;
			margin-bottom: 16px;
		}

		p {
			font-size: 18px;
			line-height: 1.5;
			max-width: 600px;
		}
	}

	.breadcrumbNav {
		margin-bottom: 30px;
	}

	.content {
		background: #fff;
		padding: 0 40px 60px;
	}

	.flexLayout {
		display: flex;
		gap: 45px;
		align-items: flex-start;
		margin-top: 50px;

		.imageContainer {
			width: 440px;
			height: 570px;
			background-color: #d9d9d9;
			border-radius: 75px 75px 75px 0;
		}

		.countryImage {
			border-radius: 75px 75px 75px 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.textContainer {
			flex: 1;
			padding-left: 45px;
		}

		.contentNote {
			font-size: 14px;
			color: var(--dark-purple);
			font-weight: 500;
			margin-bottom: 26px;
		}

		.benefitsContainer {
			display: flex;
			max-width: 740px;
			margin-bottom: 28px;
		}

		.benefitsList {
			flex: 1;

			li {
				font-size: 14px;
				color: var(--dark-purple);
				font-weight: 400;
				line-height: 22px;
				list-style: inside disc;

				span {
					font-weight: 500;
				}

				strong {
					font-weight: 600;
				}
			}
		}

		.compatibilityCheck {
			max-width: 172px;
			width: 100%;
		}

		.searchBox {
			max-width: 540px;
		}

		.plansContainer {
			max-width: 916px;
			margin-top: 45px;

			.plans {
				display: flex;
				flex-wrap: wrap;
				gap: 50px 38px;
			}
		}
	}
}
