$lightGrey: var(--light-grey);
$textPurple: var(--text-purple);
$darkPurple: var(--dark-purple);

.newPasswordContainer {
	height: calc(100vh - 143px);
	min-height: 815px;
	display: flex;
	width: 100%;
	justify-content: center;

	> div {
		display: flex;
		height: 100%;
		max-width: 1400px;
		width: 100%;
	}
}

.newPasswordForm {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px 0;
	background: white;

	.logo {
		margin-bottom: 20px;
		position: relative;
		margin-left: -75px;
	}

	.formContainer {
		flex: 1;
		display: flex;
		align-items: center;
		max-width: 386px;
		width: 100%;
		justify-content: center;
	}

	.innerFormContainer {
		width: 100%;
	}

	.title {
		font-size: 25px;
		text-align: center;
		font-weight: 500;
		color: $darkPurple;
		margin-bottom: 4px;
	}

	.subtitle {
		font-size: 14px;
		color: $darkPurple;
		margin-bottom: 20px;
	}

	.authInput {
		max-width: 100%;
		margin-bottom: 23px;
	}

	.forgotPassword {
		width: 100%;
		margin: 20px 0;
		font-size: 14px;
		font-weight: 500;

		a {
			color: $textPurple;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.signInBtn {
		width: 100%;
		height: 45px;
	}

	form {
		display: block;
		margin-bottom: 30px;
	}

	.signupText {
		font-size: 14px;
		font-weight: 500;

		a {
			color: $textPurple;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.terms {
		font-size: 12px;
		color: #000;
		font-weight: 500;
		cursor: pointer;
	}
}

.heroSection {
	flex: 1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;

	.heroImage {
		width: 480px;
		height: 618px;
		position: relative;
	}

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 20px;
	}

	.heroOverlay {
		position: relative;
		padding: 30px;
		text-align: center;
		background: rgba(0, 0, 0, 0.12);
		width: 100%;
		height: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 41px;
	}
}
