.topNavContainer {
	position: relative;
	width: 100%;
	top: 25px;
	z-index: 1000;

	> div {
		margin: 0 auto;
		max-width: 1300px;
		position: relative;
	}

	.navLinks {
		column-gap: 20px;
		display: flex;
		height: 100%;
		align-items: center;

		.links {
			display: flex;
			column-gap: 30px;

			> a {
				@apply text-white font-semibold text-sm cursor-pointer hover:text-gray-300;
			}
		}
	}
}
