$lightGrey: var(--light-grey);

.homeContainer {
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;

	.contentContainer {
		height: 100%;
		padding: 0 67px;
	}

	.homeContentContainer {
		display: flex;
		height: 100%;
		align-items: center;
	}

	@media (min-width: 1577px) {
		.contentContainer {
			max-width: 1300px;
			margin: 0 auto;
			padding: 0;
		}

		.homeContentContainer {
			justify-content: space-between;
		}
	}

	.headerText {
		max-width: 580px;
	}

	.yellowStar {
		padding-left: 100px;
		margin-bottom: 42px;

		svg {
			opacity: 65%;
		}
	}

	.title {
		line-height: 48px;
		margin-bottom: 18px;
	}

	.subTitle {
		color: $lightGrey;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 40px;
	}

	.searchContainer {
		margin-bottom: 100px;

		.searchBtn {
			border-radius: 20px;
			width: 100%;
			max-width: 275px;
			height: 42px;
			background-color: #fff;
		}
	}
}

.homeMain {
	.mainTitle,
	.stayConnected {
		margin-bottom: 5px;
	}

	.mainSubTitle {
		margin-bottom: 49px;
	}

	.popularDestinationContainer,
	.homePackageContainer {
		max-width: 945px;
		margin: 0 auto;
	}

	.popularDestinationContainer {
		margin-bottom: 90px;
	}

	.multipleRegionsContainer {
		max-width: 1095px;
		margin: 0 auto;
	}

	.homePackageSearch {
		margin-bottom: 49px;
	}

	.infoIconBtn {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.popularDestination {
		margin-bottom: 11px;
	}

	.seeAllBtn {
		padding: 10px 1.64rem;
	}

	.choosingContainer {
		position: relative;
		z-index: 2;
		.title {
			margin-bottom: 59px;
			position: relative;
			z-index: 1;
		}

		.featureListContainer {
			max-width: 1190px;
			margin: 0 auto;
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: #f9f2f7;
				filter: blur(150px);
				z-index: 0;
			}

			> div {
				display: flex;
				position: relative;
				z-index: 1;
				gap: 26px;
			}
		}
	}

	.testimonialContainer {
		position: relative;
		background: rgba(40, 40, 66, 0.97);
		.title {
			padding: 7rem 0 1rem;
			color: $lightGrey;
		}

		.subTitle {
			color: $lightGrey;
		}

		.ellipse_2 {
			width: 457px;
			height: 457px;
			border-radius: 50%;
			position: absolute;
			left: -145px;
			top: -156px;
			background: aliceblue;
			opacity: 0.2;
			filter: blur(200px);
			z-index: 0;
		}

		.ellipse_6 {
			position: absolute;
			right: 132px;
			top: 180px;
			background: linear-gradient(180deg, #73d4ff 0%, #0167b1 100%);
			transform: rotate(-62.97deg);
			border-radius: 50%;
			z-index: 0;
			height: 262px;
			width: 262px;
		}

		.ellipse_7 {
			position: absolute;
			width: 183px;
			height: 183px;
			z-index: 0;
			left: 90px;
			border-radius: 60%;
			top: 466px;
			background: linear-gradient(180deg, #5901b1 0%, #ff73b6 100%);
			transform: rotate(-62.97deg);
		}
	}
}
