$lightGrey: var(--light-grey);

.homeContainer {
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;

	.contentContainer {
		height: 100%;
		padding: 0 67px;
	}

	.homeContentContainer {
		display: flex;
		height: 100%;
		align-items: center;
	}

	.headerText {
		max-width: 580px;
	}

	.yellowStar {
		padding-left: 100px;
		margin-bottom: 42px;

		svg {
			opacity: 65%;
		}
	}

	.title {
		color: $lightGrey;
		font-size: 35px;
		font-weight: bold;
		line-height: 48px;
		margin-bottom: 18px;
	}

	.subTitle {
		color: $lightGrey;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 40px;
	}

	.searchContainer {
		margin-bottom: 100px;
	}
}

.homeMain {
	padding-bottom: 50px;

	.mainTitle,
	.stayConnected {
		color: var(--dark-purple);
		font-size: 45px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 5px;

		span {
			color: var(--purple);
		}
	}

	.stayConnected {
		font-size: 42px;
	}

	.mainSubTitle {
		color: var(--dark-purple);
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		margin-bottom: 49px;
	}

	.popularDestinationContainer,
	.homePackageContainer {
		max-width: 945px;
		margin: 0 auto;
	}

	.popularDestinationContainer {
		margin-bottom: 90px;
	}

	.multipleRegionsContainer {
		max-width: 1095px;
		margin: 0 auto;
	}

	.homePackageSearch {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 22px;
		margin-bottom: 49px;
	}

	.infoIconBtn {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.popularDestination {
		font-size: 20px;
		font-weight: 400;
		color: var(--dark-purple);
		margin-bottom: 11px;
	}

	.popularDestinationCards {
		display: flex;
		gap: 20px;
		padding: 10px 0;
		margin-bottom: 45px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.seeAllBtn {
		padding: 10px 1.64rem;
	}

	.choosingContainer {
		.title {
			color: var(--dark-purple);
			font-size: 40px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 59px;
			position: relative;
			z-index: 1;
		}

		.featureListContainer {
			max-width: 1306px;
			margin: 0 auto;
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: #f9f2f7;
				filter: blur(150px);
				z-index: 0;
			}

			> div {
				display: flex;
				position: relative;
				z-index: 1;
				gap: 40px;
			}
		}
	}
}
