.checkoutContainer {
	.main {
		margin: 0 auto;
		padding: 0 15px;
		max-width: 1485px;
		padding-top: 30px;
	}

	.secureCheckoutTitle {
		margin-bottom: 30px;
	}

	.checkoutContent {
		display: flex;
		width: 100%;
		flex-direction: row;
		gap: 2rem;
	}

	.checkoutLeft {
		flex: 1.2;
	}

	.checkoutPaymentDetails {
		max-width: 580px;
	}

	.orderDetailsTitle {
		margin-bottom: 15px;

		.itemCount {
			font-size: 13px;
			color: var(--text-purple);
			font-weight: 600;
		}
	}

	.checkoutRight {
		flex: 1;
		position: relative;
	}

	.checkoutOrderSummary {
		position: sticky;
		top: 2rem;
	}
}
